/* スライド部分 */
.swiper {
  width: 600px;
  height: 1000px;
  text-align: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 350px;
  height: 300px;
  margin-left: 120px;
}

.swiper-pagination {
  margin-top: 20px;
}
